* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  /* font-weight: 700; */
}

body {
  background-color: darkslategray;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sub-container {
  display: flex;
  flex-basis: 100vh;
}

.sub-container:first-child {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.sub-container:first-child > div {
  display: flex;
  flex-basis: auto;
  margin: 1vh 30vh;
  /* width: 70vh; */
}

.sub-container:first-child > div:last-child {
  flex-grow: 10;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgba(170, 170, 170, 0.5);
  border-radius: 1vh;
  width: 100vh;
  flex-grow: 0.2;
  padding: 1.5vh 0vh;
}

.header > div {
  display: flex;
  flex-grow: 4;
  align-items: center;
  font-size: 2vh;
  margin: 0vh;
  justify-content: center;
  transition-duration: 0.4s;
  padding: 0;
  font-weight: 500;
}

.header > div:hover {
  box-shadow: 0 0.5vh 0px 0 rgba(0, 0, 0, 0.5), 0 0.5vh 0px 0 rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
}

.header > div:first-child {
  flex-grow: 3;
  font-weight: 700;
  font-style: italic;
  justify-content: flex-start;
  font-size: 5vh;
  color: rgb(255, 153, 0);
  margin-left: 1vh;
  padding: 0;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5), 0 0px 0px 0 rgba(0, 0, 0, 0.5);
}

a {
  /* background-color: aqua; */
  text-decoration: none;
  color: antiquewhite;
}

.page1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  width: 100vh;
}
.page1-content > div {
  display: flex;
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
  font-weight: 200;
  color: antiquewhite;
}
.page1-content > div:first-child {
  font-size: 7vh;
  font-weight: 700;
}
.page1-content > div:nth-child(3) {
  height: 8vh;
  flex-direction: row;
  justify-content: space-between;
}

.input-domain > div {
  display: flex;
}

.input-domain > a {
  display: flex;
  background-color: black;
  padding: 1.5vh;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  border-radius: 1vh;
  margin-right: 0vh;
  font-weight: 600;
}
.input-domain > a:hover {
  color: black;
  background-color: antiquewhite;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5), 0 7px 10px 0 rgba(0, 0, 0, 0.5);
}

input[type="button"] {
  border-radius: 1vh;
  border: 0px;
  font-size: 2vh;
  padding: 2vh;
  transition-duration: 0.5s;
  cursor: pointer;
  color: antiquewhite;
  background-color: black;
}
input[type="button"]:hover {
  background-color: antiquewhite;
  color: black;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5), 0 7px 10px 0 rgba(0, 0, 0, 0.5);
}
input[type="text"] {
  font-weight: 700;
  border-radius: 1vh;
  border: 0.1vh;
  border-style: solid;
  border-color: antiquewhite;
  width: 50vh;
  background-color: black;
  color: antiquewhite;
  font-size: medium;
}

img {
  border-radius: 1vh;
}
img[src="bg.jpg"] {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  border-radius: 0vh !important;
}
.icon {
  border-radius: 50%;
}

.sub-container:nth-child(2) {
  flex-direction: column;
  align-items: stretch;
}
.sub-container:nth-child(2) > div {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: darkslategray;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.page2header {
  flex-grow: 1;
  font-weight: 700;
  /* font-style: italic; */
}
.page2content {
  background-image: url(./img/drop.png);
  background-repeat: no-repeat;
  flex-grow: 9;
  display: flex;
}
.page2content > div {
  border-style: solid;
}
.gambar {
  background-image: url(./topo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 20%;
  height: 100vh;
  width: 100%;
}

.main-container > div:nth-child(3) {
  justify-content: space-between;
  background-color: black;
}
